asttokens
bm3d
bm4d
click
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
imageio
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
mypy-extensions
nest-asyncio
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
parso
pathspec
pexpect
pillow
piqa
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
python-dateutil
PyWavelets
pyzmq
scipy
setuptools
six
stack-data
sympy
torch
torchvision
tornado
traitlets
triton
typing_extensions
wcwidth
